img {
	max-width: 100%;
	height: auto;
}

.bg-cover {
	background-size: cover;
}
.bg-center {
	background-position: center center;
}

.container-fluid {
	max-width: 1740px;
}

.overflow-hidden {
	overflow: hidden;
}

.row-custom {
	margin-left: -$grid-gutter-width/2;
	margin-right: -$grid-gutter-width/2;

	.col-custom {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
}

.row.small-gutters {
	margin-left: -0.25rem;
	margin-right: -0.25rem;

	> .col,
	> [class*="col-"] {
		padding-right: 0.25rem;
		padding-left: 0.25rem;
	}
}
