$fa-font-path:  	"../font" !default;
$pe-7s-font-path:	"../font" !default;

$font-family-sans-serif:  Roboto, "Helvetica Neue", Arial, sans-serif !default;

$gray-dark:		#000 !default;
$gray:			#333 !default;
$gray-light:	#666 !default;
$gray-lighter:	#999 !default;
$gray-lightest:	#CCC !default;

$body-color: $gray-light !default;

$font-size-base: 0.875rem !default; // 14px
$font-size-lg:   1.125rem !default; // 18px
$font-size-sm:   0.75rem !default;	// 12px
$font-size-xs:   0.625rem !default;	// 10px

$font-weight-normal: normal !default;
$font-weight-bold: 	 bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.125rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: 0.875rem !default;

$headings-color: $gray;