$utilities: map-merge(
    $utilities, 
    (
        "opacity": (
            property: opacity,
            state: hover,
            values: (
                0: 0,
                25: .25,
                50: .5,
                75: .75,
                100: 1,
            ),
        ),
        "aspect-ratios": (
            class: ratio,
            responsive: true,
            property: --bs-aspect-ratio,
            values: (
                "1x1": 100%,
                "1x2": 200%,
                "2x1": 50%,
                "3x2": calc(2 / 3 * 100%),
                "2x3": calc(3 / 2 * 100%),
                "4x3": calc(3 / 4 * 100%),
                "3x4": calc(4 / 3 * 100%),
                "16x9": calc(9 / 16 * 100%),
                "9x16": calc(16 / 9 * 100%),
            ),
        ),
        "object-fit": (
            property: object-fit,
            values: cover contain fill inherit initial none revert scale-down unset,
        ),
        "object-position": (
            property: object-position,
            values: left right top bottom,
        ),
        "background-size": (
            property: background-size,
            values: cover contain auto inherit initial revert unset,
        ),
        "background-position": (
            property: background-position,
            values: (
                left: left,
                top: top,
                bottom: bottom,
                right: right,
                center: center,
                center-top: center top,
                center-bottom: center bottom,
                left-top: left top,
                right-top: right top,
                left-bottom: left bottom,
                right-bottom: right bottom,
            ),
        ),
        "flex-gap": (
            property: gap,
            values: 0 1em 2em 3em 4em 5em 6em,
        ),
        "column-count": (
            property: column-count,
            values: 1 2 3 4 5 6 7 8 9,
        ),
        "position": (
            property: position,
            responsive: true,
            values: static relative absolute fixed sticky
        ),
        "z-index": (
            property: z-index,
            values: 0 1 2 3 4 5 6 7 8 9,
        ),
        "animation-delay": (
            class: delay,
            property: animation-delay,
            values: 000ms 100ms 200ms 300ms 400ms 500ms 600ms 700ms 800ms 900ms 1000ms 0s 1s 2s 3s 4s 5s 6s 7s 8s 9s,
        ),
    )
);
